[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = git://github.com/pybind/pybind11.git
[submodule "3rdparty/cub"]
	path = 3rdparty/cub
	url = git://github.com/NVlabs/cub.git
[submodule "3rdparty/glog"]
	path = 3rdparty/glog
	url = git://github.com/google/glog.git
